<div class="container mt-3" style="font-family: 'Calibri Light';">
    <h3 align="left">Ticket List</h3><hr>
    <div class=" col-md-5 ">
      <table id="tableSortExample" mdbTable class="z-depth-1">
        <thead>
          <tr>
            <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="ticketInfo" [sortBy]="headElements[i]">{{head | titlecase}}
              <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketInfo; let i = index">
            <th scope="row">{{ticket.id}}</th>
            <td>{{ticket.radio1}}</td>
            <td>{{ticket.sdate}}</td>
            <td>{{ticket.priority}}</td>
          </tr>
        </tbody>
      </table>
</div>
</div>