<div class="container">
    <div class="col-sm-offset-5 mt-3" style="font-family: 'Calibri Light';">
      <h3 align="center">Forgot username and password</h3><hr>
      <h4>Please enter your Email address and your information will be mailed to you.</h4>
      <form class="col-md-5 md-form" method="POST" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="md-form">
          <input type="email" class="form-control" id="" formControlName="email">
          <label for="email">Email</label>
        </div>
        <button class="btn btn-unique btn-md" id="btn-one" type="submit">Submit</button>
      </form>
      <h6>Return to Login <a routerLink="" routerLinkActive="active"> Click here.</a> </h6>
    </div>
  </div>
  
  
  
