<div class="container mt-3" style="font-family: 'Calibri Light';">
    <h3 align="left">Ticket List</h3><hr>
    <div class=" col-md-5 ">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Ticket ID</th>
            </tr>
          </thead>
          <tbody>
            <th scope="row"></th>
            <td *ngFor="let ticket of ticketInfo;">{{ticket.id}}</td>
          </tbody>
    </table>
</div>
</div>