
<div class="container w0">
  <div class="col-sm-offset-5 mt-3" style="font-family: 'Calibri Light';">
    <h3 align="center">Login</h3><hr>

    <form class="col-lg-5 md-form needs-validation" method="POST">
      <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && f.userid.errors }">
        <label for="userid" class="col-md-3 col-sm-5 col-xs-12">Userid</label>
        <div class="col-md-9 col-sm-7 col-xs-12">
            <input type="email" class="form-control" id="" requiredformControlName="userid" />
            <label for="email">Email</label>
            <div *ngIf="submitted && f.userid.errors" class="help-block">
                  <div *ngIf="f.userid.errors.required">Userid is required</div>
            </div>
        </div>
      </div>
      <div class="md-form" [ngClass]="{ 'has-error': submitted && f.password.errors }">
        <input type="password" class="form-control" id="" required formControlName="password">
        <label for="password">Password</label>
        <div *ngIf="submitted && f.password.errors" class="help-block">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <button class="btn btn-primary btn-md" id="btn-one" type="submit" formaction="homepage">login</button>
      <button class="btn btn-md btn-warning" type="submit" formaction="admin_login">Admin login</button>
    </form>
    <h6>Are you a new user? <a routerLink="user_registration" routerLinkActive="active">Click here.</a> </h6>
    <h6><u><a routerLink="forgot_password" routerLinkActive="active">Forgot your Username or Password.</a></u></h6>
  </div>
</div>
